# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

config.json
config.yaml

.DS_Store
./release/**
./bin/**
.gitignore
bin/darwin/hexo_ali_oss
bin/linux/hexo_ali_oss
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_darwin_amd64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_darwin_arm64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_freebsd_386
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_freebsd_amd64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_386
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_amd64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_arm
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_arm64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_mips
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_mips64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_mips64le
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_mipsle
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_linux_riscv64
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_windows_386
release/v0.2.0/bin/hexo_ali_oss_v0.2.0_windows_amd64
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_darwin_amd64
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_darwin_arm64
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_freebsd_386
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_freebsd_amd64
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_linux_386
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_linux_amd64
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_linux_arm
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_linux_arm64
release/v0.3.1/bin/hexo_ali_oss_v0.3.1_windows_386
